body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
header,
footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px 0;
}
main {
  padding: 20px;
}
h1,
h2,
h3 {
  color: #333;
}
h2:hover{
  cursor: pointer;
  color: #335;
}
h2:hover::after {
  content: " #";
}
a {
  color: #c33;
  text-decoration: none;
}
a:hover {
  color: #33c;
  text-decoration: underline;
}
ol,
ul {
  margin-left: 10px;
}
pre > code {
  padding: 10px;
  background-color: #333;
  color: #493;
  margin-left: 20px;
}
code {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font-family: Consolas, monospace;
  padding: 0px 5px;
  font-weight: normal;
  color: #448;
}
.contoh {
  font-weight: normal;
}